## Deliverable 3. Create a Travel Itinerary Map.

In [120]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [121]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,1,Byron Bay,AU,71.49,overcast clouds,-28.6500,153.6167,Backpackers Inn on the Beach
1,2,Mozarlandia,BR,77.25,overcast clouds,-14.7447,-50.5706,Hotel Santa Mônica
2,3,Tapiramuta,BR,79.14,broken clouds,-11.8472,-40.7914,Casa Alencar
3,8,Rikitea,PF,72.36,clear sky,-23.1203,-134.9692,People ThankYou
4,9,Hermanus,ZA,72.90,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel

In [122]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [123]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [124]:
vacation_df.loc[vacation_df['City'] == "Sawtell"]

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
135,393,Sawtell,AU,70.18,overcast clouds,-30.3833,153.1,The Bungalow Sawtell

In [125]:
vacation_df.loc[vacation_df['City'] == "Byron Bay"]

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,1,Byron Bay,AU,71.49,overcast clouds,-28.65,153.6167,Backpackers Inn on the Beach

In [126]:
vacation_df.loc[vacation_df['City'] == "Brisbane"]

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
246,704,Brisbane,AU,73.58,clear sky,-27.4679,153.0281,Royal On The Park Brisbane

In [127]:
vacation_df.loc[vacation_df['City'] == "Moree"]

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
52,159,Moree,AU,77.61,broken clouds,-29.4667,149.85,Molika Springs Motel

In [128]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Sawtell"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Sawtell"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Byron Bay"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Brisbane"] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Moree"]

In [129]:
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,393,Sawtell,AU,70.18,overcast clouds,-30.3833,153.1000,The Bungalow Sawtell
1,1,Byron Bay,AU,71.49,overcast clouds,-28.6500,153.6167,Backpackers Inn on the Beach
2,704,Brisbane,AU,73.58,clear sky,-27.4679,153.0281,Royal On The Park Brisbane
3,159,Moree,AU,77.61,broken clouds,-29.4667,149.8500,Molika Springs Motel

In [130]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
tour_df = itinerary_df.loc[:, ['City','Lat','Lng']]
tour_df

        City      Lat       Lng
0    Sawtell -30.3833  153.1000
1  Byron Bay -28.6500  153.6167
2   Brisbane -27.4679  153.0281
3      Moree -29.4667  149.8500

In [131]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".




Sawtell= (-30.3833,-30.3833)
Byron Bay = (-28.6500,153.6167)
Brisbane= (-27.4679,153.0281)
Moree=(-29.4667,149.8500)

fig = gmaps.figure()
austrailia = gmaps.directions_layer(
        Sawtell, Sawtell, waypoints=[Byron Bay,Brisbane,Moree]  
        travel_mode='DRIVING')
fig.add_layer(austrailia)
fig

SyntaxError: invalid syntax (<ipython-input-131-65ec03d511f5>, line 8)

In [132]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,393,Sawtell,AU,70.18,overcast clouds,-30.3833,153.1000,The Bungalow Sawtell
1,1,Byron Bay,AU,71.49,overcast clouds,-28.6500,153.6167,Backpackers Inn on the Beach
2,704,Brisbane,AU,73.58,clear sky,-27.4679,153.0281,Royal On The Park Brisbane
3,159,Moree,AU,77.61,broken clouds,-29.4667,149.8500,Molika Springs Motel

In [133]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [134]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))